@use 'variables'as v;
@use 'mixins' as m;
@use 'sass:color';

.info-card {
    width: 180px;
    height: 205px;
    padding: 20px 10px 0;
    border-radius: 20px;
    background-color: color.adjust(v.$color_white, $alpha: -0.85);
    @include m.d-flex(start, center, nowrap, column, 0, 10px);
    @include m.smooth();

    &__icon {
        width: 25px;
        height: 25px;
        fill: v.$color_black;
        @include m.smooth();
    }

    &__title {
        @include m.font(18px, 500, v.$color_black);
        @include m.smooth();
    }

    &__desc {
        text-align: center;
        @include m.font(16px, 300, v.$color_black);
        @include m.smooth();
    }

    &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 20px 3px color.adjust(v.$color_black, $alpha: -.85);
        background-color: color.adjust(v.$color_light_blue);
        transform: scale(1.1);

        .info-card__icon {
            fill: v.$color_white;
        }

        .info-card__title, .info-card__desc {
            color: v.$color_white;
        }
    }

    @media (max-width: v.$media_min) {
        width: 140px;
        height: 170px;

        &__title {
            @include m.font(14px, 400, v.$color_black);
        }

        &__desc {
            @include m.font(11px, 300, v.$color_black);
        }
    }
}

.img-card {
    position: relative;
    width: 325px;
    height: 295px;
    border-radius: 25px;
    background-color: color.adjust(v.$color_white, $alpha: -0.85);
    @include m.d-flex(space-between, center, nowrap, column, 0, 0);
    @include m.smooth();
    overflow: hidden;
    flex-shrink: 0;

    &__title {
        @include m.font(23px, 400, v.$color_white);
        @include m.d-flex(center, center, nowrap, column, 0, 0);
        // flex-shrink: 0;
        flex-grow: 1;
    }

    &__preview {
        width: 100%;
        height: 220px;
    }

    &__btn {
        @include m.position(absolute, 1, -1, bottom, left, -20px, -30px);
        width: 120px;
        height: 90px;
        border-radius: 20px;
        border: none;
        background-color: v.$color_white;
        rotate: z 7deg;
        @include m.smooth();

        &-icon {
            width: 36px;
            height: 23px;
            fill: v.$color_black;
            rotate: -7deg;
            translate: 15px -7px;
            @include m.smooth();
        }

        &:hover {
            cursor: pointer;
            scale: 1.3;

            .img-card__btn-icon {
                rotate: -7deg;
                translate: 17px -10px;
            }
        }
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: 2px 2px 20px 3px color.adjust(v.$color_black, $alpha: -.85);
    }

    // @media (max-width: v.$media_min) {
    //     width: 180px;
    // }
}