@mixin d-flex($justify: center, $align: center, $wrap: nowrap, $direction: row, $column-gap: 0, $row-gap: 0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $direction;
    column-gap: $column-gap;
    row-gap: $row-gap;
}

@mixin smooth($all: all, $time: 0.3s, $type: ease-in-out) {
    transition: $all $time $type;
}

@mixin position($pos: relative, $ind: 1 ,$inset: -1, $t-or-b: top, $l-or-r: left, $val: 0, $val2: 0) {
    position: $pos;
    z-index: $ind;

    @if $inset > -1 {
        inset: $inset
    }

    @else {
        #{$t-or-b}: $val;
        #{$l-or-r}: $val2;
    }
}

@mixin font($size: 16px, $weight: 400, $color: #fff, $style: normal) {
    font: {
        size: $size;
        weight: $weight;
        style: $style;
    }

    color: $color;
}
